# ==========================
# ENTORNOS VIRTUALES
# ==========================
venv/
.env/
env/
.venv/
proyecto_2/
Lib/
Scripts/

# ==========================
# ARCHIVOS PYTHON
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# LOGS Y DUMPS
# ==========================
*.log
*.pot
*.pyc
*.pyo
*.pid
*.swp

# ==========================
# CONFIGURACIONES / SECRETOS
# ==========================
.env
*.secret
*.json
config.local.py

# ==========================
# TESTS Y COVERAGE
# ==========================
htmlcov/
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# ==========================
# EDITORES / IDEs
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==========================
# MIGRACIONES (opcional)
# ==========================
**/migrations/*.pyc
**/migrations/__pycache__/
# **/migrations/   # solo si quieres ignorarlas todas (no recomendado)

# ==========================
# DJANGO / MEDIA / STATIC
# ==========================
media/
staticfiles/
static/
*.sqlite3

# ==========================
# DOCKER
# ==========================
*.pid
*.log
*.swp

# ==========================
# FRONTEND (si usas React/Vite)
# ==========================
node_modules/
build/
dist/
*.lock

# ==========================
# SISTEMA OPERATIVO
# ==========================
.DS_Store
Thumbs.db
